:root {
    --primaryFontFamily: "Poppins", serif;
    --primaryColor: #122620;
    --secondaryColor: #175100;
    --BtnPrimaryColor: #ffffff;
    --BtnPrimaryBgColor: #b68d40;
    --btnPrimaryBgHoverColor: #d6ad60;
    --white: #fff;
    --LightBrownColor: #d6AD60;
    --LightBrownBgColor: #f4ebd0;
    --DarkBrownBgColor: #b68d40;
    --SecondaryBrownBgColor2: #d6ad60;
}
body {
    font-size: 14px;
    position: relative;
    color: #122620;
    font-family: var(--primaryFontFamily);
}
.mega-menu .dropdown.categories.fullWidth .box a span {
    font-family: var(--primaryFontFamily);
    text-transform: capitalize;
}
.master-wrapper-content{
    margin:0;
}

.header-menu > ul > li > a {
    padding: 12px 15px;
    text-transform: capitalize;
}
.header-menu > ul > li > span {
     text-transform: capitalize;
}
  .header-menu > ul > li > a.with-subcategories {
        padding-right:30px;
    }
    .header-menu-wrapper {
        border-top: 1px solid #303030;
    }
.search-box input.search-box-text {
    padding: 10px 35px 10px 20px;
    height: 40px;
    border:1px solid #ddd;
}

.header-menu > ul > li > a.with-subcategories::after {
    font-family: remixicon !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\ea4e";
    position: absolute;
    right: 0;
}

.header-menu > ul > li > a {
    position: relative;
}
.search-box form {
    width: 100%;
}

.mega-menu .dropdown .box a {
    text-align: left !important;
}

.header-menu > ul > li > a.hover span {
    color: var(--LightBrownColor);
}
#headerMenuParent,
.home-page-category-grid.categories-1 .item-box .title,
.header-menu > ul > li:hover,
#topcartlink,
.wishlist-button,
.mega-menu .dropdown,
.blog-search-box .search-box-button{
    background-color: var(--primaryColor);
}
.header {
    background-color: var(--white);
}

.home-page-category-grid.categories-1 .item-grid,
.product-grid .item-grid {
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
}

.product-grid .item-box .picture {
   /* margin: 0px !important;*/
    height: 360px;
    padding: 10px;
}

.item-box {
    overflow: hidden;
    border: 1px solid #ddd;
    margin-bottom: 20px !important;
    border-radius: 10px;
}

.home-page-category-grid.categories-1 .item-grid .item-box,
.product-grid .item-box {
    overflow: hidden;
    border: 1px solid #ddd;
    margin-bottom: 20px !important;
    border-radius: 20px;
}

.product-ribbon {
    background: #E31837;
    padding: 4px 10px;
    border-radius: 50px;
    color: #fff;
    font-weight: 800;
    line-height: 10px !important;
}

    .product-ribbon .ribbon-text {
        line-height: normal !important;
        font-size: 15px !important;
        font-weight: bold !important;
    }


.product-grid .item-grid .ribbon-position {
    top: 10px;
    right: 10px;
}


.news-carousel .nop-jcarousel .carousel-item .item-box .picture {
    height: 100%;
}

    .news-carousel .nop-jcarousel .carousel-item .item-box .picture a {
        display: flex;
        align-items: center;
    }

.news-carousel .nop-jcarousel .carousel-item .item-box {
    border: 1px solid #eee !important;
    margin-top: 10px !important;
    border-radius: 20px;
    height: 180px;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-grid .item-grid .details .product-title a {
    font-size: 14px;
    color: var(--primaryColor);
    text-transform: capitalize;
}
.product-grid  .item-grid .details .product-title {
    border-bottom: 1px dashed var(--btnPrimaryBgHoverColor);
}
.product-grid  .item-box .actual-price {
    color: var(--BtnPrimaryBgColor);
    font-size: 22px;
    font-weight: 600;
}
.product-grid .item-box .price.old-price {
    color: var(--BtnPrimaryBgColor);
}
.product-grid .item-box:hover .details .product-title a,
.product-grid .ajax-cart-product-item-hover .details .product-title a {
    color: var(--primaryColor);
}
.product-grid .ajax-cart-product-item-hover .details .product-title,
.product-grid .item-box:hover .details .product-title {
    border-color: var(--BtnPrimaryBgColor);
}
.product-grid .ajax-cart-product-item-hover .actual-price,
.product-grid .item-box:hover .details .add-info .actual-price,
.product-grid .ajax-cart-product-item-hover .price.old-price,
.product-grid .item-box:hover .price.old-price {
    color: #7c5710;
}

.quick-view-button a,
.add-info .buttons .add-to-compare-list-button {
    background-color: var(--DarkBrownBgColor) !important;
}