:root {
    --primaryFontFamily: "Poppins", serif;
    --primaryColor: #122620;
    --secondaryColor: #175100;
    --BtnPrimaryColor: #ffffff;
    --BtnPrimaryBgColor: #b68d40;
    --btnPrimaryBgHoverColor: #d6ad60;
    --white: #fff;
    --LightBrownColor: #d6AD60;
    --LightBrownBgColor: #f4ebd0;
    --DarkBrownBgColor: #b68d40;
    --SecondaryBrownBgColor2: #d6ad60;
    --black: #000000;
    --borderColor:#eeeeee;
}
body {
    font-size: 14px;
    position: relative;
    color: #122620;
    background: #f1f2f3;
    font-family: var(--primaryFontFamily);
}
.mega-menu .dropdown.categories.fullWidth .box a span {
    font-family: var(--primaryFontFamily);
    text-transform: capitalize;
}
.master-wrapper-content{
    margin:0;
}

.header-menu > ul > li > a {
    padding: 12px 15px;
    text-transform: capitalize;
}
.header-menu > ul > li > span {
     text-transform: capitalize;
}
  .header-menu > ul > li > a.with-subcategories {
        padding-right:30px;
    }
    .header-menu-wrapper {
        border-top: 1px solid #303030;
    }
.search-box input.search-box-text {
    padding: 10px 35px 10px 20px;
    height: 40px;
    border:1px solid #ddd;
}

.header-menu > ul > li > a.with-subcategories::after {
    font-family: remixicon !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\ea4e";
    position: absolute;
    right: 0;
}

.header-menu > ul > li > a {
    position: relative;
}
.search-box form {
    width: 100%;
}

.mega-menu .dropdown .box a {
    text-align: left !important;
}

.header-menu > ul > li > a.hover span {
    color: var(--LightBrownColor);
}
#headerMenuParent,
.home-page-category-grid.categories-1 .item-box .title,
.header-menu > ul > li:hover,
.mega-menu .dropdown,
.blog-search-box .search-box-button{
 background-color: var(--primaryColor);
}
.header-links ul {
    display: flex;
    align-items: center;
}
.wishlist-button {
    background-color: rgba(57,50,48,.3);
}
.header-menu > ul > li:hover{
    background-color: var(--DarkBrownBgColor);
    color: #fff;
}
    /*.header-menu > ul > li:hover span{
        color: #fff;
    }*/
    .header {
        background-color: var(--white);
    }

.home-page-category-grid.categories-1 .item-grid,
.product-grid .item-grid {
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
}

.product-grid .item-box .picture {
   /* margin: 0px !important;*/
    height: 360px;
    padding: 10px;
}

.item-box {
    overflow: hidden;
    border: 1px solid #ddd;
    margin-bottom: 20px !important;
    border-radius: 10px;
}

.home-page-category-grid.categories-1 .item-grid .item-box,
.product-grid .item-box {
    overflow: hidden;
    border: 1px solid #ddd;
    margin-bottom: 20px !important;
    border-radius: 20px;
}

    .product-ribbon {
        background: #E31837;
        padding: 4px 10px;
        border-radius: 50px;
        color: #fff;
        font-weight: 800;
        line-height: 10px !important;
    }

    .product-ribbon .ribbon-text {
        line-height: normal !important;
        font-size: 12px !important;
        font-weight: 400 !important;
        font-family: var(--primaryFontFamily) !important;
    }


.product-grid .item-grid .ribbon-position {
    top: 10px;
    right: 10px;
}


.news-carousel .nop-jcarousel .carousel-item .item-box .picture {
    height: 100%;
}

    .news-carousel .nop-jcarousel .carousel-item .item-box .picture a {
        display: flex;
        align-items: center;
    }

.news-carousel .nop-jcarousel .carousel-item .item-box {
    border: 1px solid #eee !important;
    margin-top: 10px !important;
    border-radius: 20px;
    height: 180px;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-grid .item-grid .details .product-title a {
    font-size: 14px;
    color: var(--primaryColor);
    text-transform: capitalize;
}
.product-grid .item-grid .details .product-title {
    border-bottom: 1px dashed var(--DarkBrownBgColor);
}
.product-grid  .item-box .actual-price {
    color: var(--BtnPrimaryBgColor);
    font-size: 22px;
    font-weight: 600;
}
.product-grid .item-box .price.old-price {
    color: var(--BtnPrimaryBgColor);
}
.product-grid .item-box:hover .details .product-title a,
.product-grid .ajax-cart-product-item-hover .details .product-title a {
    color: var(--primaryColor);
}
.product-grid .ajax-cart-product-item-hover .details .product-title,
.product-grid .item-box:hover .details .product-title {
    border-color: var(--BtnPrimaryBgColor);
}
.product-grid .ajax-cart-product-item-hover .actual-price,
.product-grid .item-box:hover .details .add-info .actual-price,
.product-grid .ajax-cart-product-item-hover .price.old-price,
.product-grid .item-box:hover .price.old-price {
    color: #7c5710;
}

/*.quick-view-button a,
.add-info .buttons .add-to-compare-list-button {
    background-color: var(--DarkBrownBgColor) !important;
    border-radius: 2px !important;
    border: 0 !important;
    background-size: 14px !important;
}*/
.quick-view-button a,
.add-info .buttons .add-to-compare-list-button, 
.product-grid .ajax-cart-button-wrapper input,
.product-grid .ajax-cart-button-wrapper button {
    background-color: var(--DarkBrownBgColor) !important;
    border-radius: 4px !important;
    border: 0px !important;
    background-size: 14px !important;
    color: #fff !important;
}

.news-carousel .nop-jcarousel > h2 {
    margin: 0 0 30px;
    font-size: 28px;
    padding-bottom: 0;
    font-family: var(--primaryFontFamily);
    font-weight: 600;
}
.footer_copyright_layout {
    background: #091814;
    border-top: 1px solid #3c3c3c;
}
    .footer_copyright_layout .center {
        padding: 10px 0px 5px;
    }

        .footer_copyright_layout .center p {
            margin: 0;
            padding: 0;
        }

.footer-lower .information-links li{
    padding-right:30px;
}
    .footer-lower .information-links li:before {
        display: inline-block;
        content: '';
        margin: 3px 2px 3px 0;
        content: "\f2e4";
        font-family: remixicon !important;
        color: #75706f;
        font-size: 16px;
    }
.footer-middle .contacts li span.icon {
    margin-right: 0;
}
.footer-middle .contacts li + li {
    margin-top: 10px;
}
.footer_upper{
    padding:30px 0px 10px;
}
.footer-middle .about-us p, .footer-middle .contacts li span {
    font-size: 14px;
}
.product-selectors {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.filter-block {
    border-bottom: 1px dashed #c9c9c9 !important;
    padding-bottom: 25px;
    margin-bottom: 25px;
    background:transparent!important;
}
.category-page .product-grid .item-box {
    background: #fff;
    height: auto;
    /* width: 32.66%; */
}

    .category-page .product-grid .item-box .picture {
        height: inherit;
    }
 .block .listbox {
    background: #fff;
    border-radius: 7px;
    border: 1px solid var(--borderColor) !important;
}
    .block .listbox ul {
    padding: 5px;
}
.main_header_layout .leftbox {
    width: calc(100% - 380px);
    height: 30px;
}

.main_header_layout {
    background: #b68d40;
    display: flex;
}

    .main_header_layout .header-selectors-wrapper {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 0px 10px;
        height: 30px;
    }
.main_header_layout .rightbox {
    width: 380px;
}
.shopping-cart-page.custom_card {
    border-radius: 16px;
    padding: 15px;
}
.shopping-cart-page .tax-shipping-info, .shopping-cart-page .common-buttons, .checkout-attributes{
    margin-top:10px;
}
.overview .add-to-wishlist-button:hover, .variant-overview:hover .add-to-wishlist-button,
.overview .add-to-compare-list-button:hover,
.overview .email-a-friend-button:hover{
    background-color: transparent !important;
}

.product-price span {
    font-size: 30px;
    font-weight: 600;
    color: var(--DarkBrownBgColor);
}
.product-grid.related-products-grid .item-box{
    background: #fff;
}



.inner_banner_layout .inner_banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inner_banner_layout .inner_banner {
    height: 280px;
}

    .inner_banner_layout .inner_banner img {
    }

.inner_banner_layout .banner_title {
    padding: 15px;
    background: #fff;
    position: absolute;
    top: 70%;
    width: 170px;
    height: 170px;
    margin-left: 5%;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
}

.inner_banner_layout {
    position: relative;
}
.custum-select .form-control {
    border-radius: 5px;
}
.shopping-cart-page .common-buttons .continue-shopping-button,
.shopping-cart-page .button-2,
.shopping-cart-page .button-1,
.cart-collaterals .coupon-code button,
.shopping-cart-page .common-buttons .continue-shopping-button {
    background: var(--BtnPrimaryBgColor) !important;
    color: var(--white);
    padding: 10px 15px;
    font-family: var(--primaryFontFamily);
}
.coupon-code {
    gap: 8px;
    display: flex;
}
.cart-collaterals .coupon-code input[type="text"] {
    border-radius: 2px;
}
.cart-total .order-total strong {
    font-weight: 600;
}
.checkout-attributes textarea {
    width: 375px;
}
.social_icons ul {
    display: flex;
    gap: 12px;
}

    .social_icons ul li {
        font-size: 16px;
        color: #fff;
    }