@model string

    <a data-pin-do="embedUser" href="@Model" data-pin-scale-width="90" data-pin-scale-height="230" data-pin-board-width="284" style="border-radius:0"></a>
    <!-- Please call pinit.js only once per page -->
    <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>

